<div class="shopping-container">
  <div class="header">
    <img src="../assets/person-cog.svg" alt="settings">
  </div>
  <div class="body-container">
    <ng-container *ngFor="let item of shoppingList">
      <div class="item-card">
        <img [src]="item.imageURL" alt="{{item.name}}" class="item-image">
        <div class="item-price">RRP {{item.price | currency: 'GBP' : 'symbol'}}</div>
        <div class="item-title">
          <span class="item-title-brand">{{item.brand}}</span>
          {{item.name}}
        </div>
        <div class="item-size">
          Size {{item.size}}
        </div>
        <div class="item-rental">
          {{item.rentalPrice | currency: 'GBP' : 'symbol'}} Rental
        </div>
      </div>
    </ng-container>
  </div>
  <div class="footer"><span class="footer-label">Powered by </span><img src="../assets/brand-logo.svg" alt="brand logo"></div>
</div>